@{
    ViewBag.Title = "Biblioteca digital";
}
<h2 class="mt-5">@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p class="mt-3">Ricardo Uribe Valencia.</p>
<p>Daniel Atonal Melgarejo.</p>
<p>Héctor Antonio Jiménez Manzo.</p>
<p>Juan .</p>
<p>Eduardo.</p>
